*.pyc
*.map
bin/
.*
/static
/media
settings_production.py
todolist/static/css/cover.css
todolist/static/css/frame.css
todolist/static/css/reg.css
todolist/static/css/login.css
todolist/static/css/main.css
crabfactory/static/css/style.css
filer*
build
