.navbar-surface {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar-background {
  height: 56px;
  z-index: 1029 !important;
}

#particle-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tab-content {
  margin-top: 100px;
}

.content-block {
  padding-bottom: 70px;
}

.content-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-block ul li {
  font-family: 'Open Sans';
}

.content-block h1 {
  font-family: 'Open Sans';
  font-weight: bold;
  margin-bottom: 20px;
}

.content-block img {
  margin-top: 20px;
}

.skill-row:nth-child(odd) .content-block {
  flex-direction: row-reverse;
}

#projects > .container > .row {
  margin-bottom: 20px;
}

.card-container {
  padding-left: 0;
  padding-right: 0;
}

.card {
  height: 450px;
  background: WHITE;
}

.card .label {
  border-radius: 30px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  left: 20px;
  bottom: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px 20px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
}

.todo-list-card {
  background: url("../img/2do-list-background.png") top center no-repeat;
  background-size: auto 745px;
}

.todo-list-card .row {
  justify-content: center;
}

.todo-list-card .logo {
  height: 100%;
  margin-top: 35px;
}

.todo-list-card .sub-title {
  color: WHITE;
  font-size: 13px;
}

.todo-list-card .preview {
  height: 100%;
}

.todo-list-card .label {
  background: #1065c4;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?iefix') format('eot'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?iefix') format('eot'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
       url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-extrabold-webfont.svg#webfont') format('svg');
}

@media screen and (max-width: 1000px) {
  .skill-row .content-block {
    flex-direction: row !important;
    justify-content: space-around !important;
  }
}